$backgroundColour: #D0DDD2;
$featureColour: #33894A;
$darkFeatureColour: #2C6C30;
$lightFontColor: #EFEFEF;
$fontColor: #030303;
$mediumFontColor: #333333;
$mediumLightFontColor: #BBB;
$tinyWidth: 50rem;
$midWidth: 70rem;
$fullWidth: 90rem;
