{% extends "now-prototype-it-design-system/layouts/standard.njk" %}

{% block headerSideNav %}
  <nav>
    <ul>
      <li><a href="/">View your prototype</a></li>
      <li><a href="/manage-prototype">Manage your prototype</a></li>
      <li><a href="https://nowprototype.it/govuk/hosting" target="_blank">Find out about hosting</a></li>
    </ul>
  </nav>
{% endblock %}