{% set htmlClasses = htmlClasses | default('') %}
{% set htmlClasses = htmlClasses ~ ' ' ~ 'now-prototype-it-manage-prototype-page' %}

{% set headerMainNavItems = [
  {
    url: "/",
    name: "View your prototype"
  },
  {
    url: "/manage-prototype",
    name: "Manage your prototype"
  },
  {
    url: "https://nowprototype.it/govuk/hosting",
    name: "Find out about hosting",
    newTab: true
  }
] %}


{% extends "now-prototype-it-design-system/layouts/standard.njk" %}

