{%- set assetPath = assetPath | default('/plugin-assets/%40nowprototypeit%2Fdesign-system/assets') -%}

<!DOCTYPE html>
<html class="nowprototypeit-page no-js {{ htmlClasses }}">
<head>
  {% block head %}
    {% block meta %}{% endblock %}
    {% block stylesheets %}
      {% include "prototype-core/includes/stylesheets.njk" %}
    {% endblock %}
  {% endblock %}
  <title>
  {% block pageTitle %}
    {% if pageName %}{{ pageName }} - {% endif %}{{ serviceName }} - Now Prototype It
  {% endblock %}
  </title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath }}/icons/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ assetPath }}/icons/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{{ assetPath }}/icons/favicon-16x16.png"/>
  <link rel="manifest" href="{{ assetPath }}/icons/site.webmanifest"/>
  <link rel="mask-icon" href="{{ assetPath }}/icons/safari-pinned-tab.svg" color="#5bbad5"/>
  <link rel="shortcut icon" href="{{ assetPath }}/icons/favicon.ico"/>
</head>
<body class="{{ bodyClasses }}">
<header>
{% block header %}
  <div class="nowprototypeit-header">
    <h3 class="nowprototypeit-brand-header"><a href="https://nowprototype.it/">
    <span class="nowprototypeit-band-name">Now Prototype It</span></a></h3>
    {% block headerSideNav %}{% endblock %}
  </div>
{% endblock %}
</header>
<main>
  {% block headerNav %}{% endblock %}
  {% block content %}{% endblock %}
</main>
<footer>
{% block footer %}
<div class="nowprototypeit-footer">
<p>You're using a GOV.UK Kit from Now Prototype It, find out more at <a href="https://nowprototype.it/govuk" target="_blank">nowprototype.it/govuk</a>.</p>
</div>
{% endblock %}
</footer>
{% block bodyEnd %}
  {% block scripts %}
    {% include "prototype-core/includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
</body>
</html>
