{% set headerSubNavItems = [
  {
    url: "/govuk",
    name: "Prototyping for GOV.UK"
  },
  {
    url: "/govuk/hosting",
    name: "Hosting for GOV.UK Prototypes"
  },
  {
    url: "/govuk/support",
    name: "Support"
  }
] %}

{% extends "now-prototype-it-design-system/layouts/standard.njk" %}
