{% extends "now-prototype-it-design-system/layouts/standard.njk" %}

{% block headerSideNav %}
  <nav>
    <ul>
      <li><a href="/govuk">Prototyping for GOV.UK</a></li>
      <li><a href="/govuk/hosting">Hosting for GOV.UK Prototypes</a></li>
      <li><a href="/govuk/support">Support</a></li>
    </ul>
  </nav>
{% endblock %}