{% macro nowPrototypeItHeader(config) %}
  <header class="nowprototypeit-header">
    <h3 class="nowprototypeit-brand-header"><a href="https://nowprototype.it/"><img
            src="{{ config.assetPath }}/images/logo.png" alt="Now Prototype It"/></a></h3>
    {% if config.mainNavItems %}
      <nav>
        <ul class="nowprototypeit-header-main-nav">
          {% for item in config.mainNavItems %}
            <li class="nowprototypeit-header-main-nav-item"><a href="{{ item.url }}" {% if item.newTab %}target="_blank"{% endif %}>{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </header>
{% endmacro %}