{% from "now-prototype-it-design-system/components/label.njk" import nowPrototypeItLabel %}

{% macro nowPrototypeItRadioButtons(params) %}
  <div class="nowprototypeit-form-item-wrapper">
    {{ nowPrototypeItLabel({
      for: params.nameAndId,
      text: params.label,
      hintText: params.hintText
    }) }}
    {% for option in params.options %}
      <div class="nowprototypeit-radio-wrapper">
        <input
          type="radio"
          {% if option.value === params.value %}checked="checked"{% endif %}
          name="{{ params.nameAndId }}"
          value="{{ option.value }}"
          id="{{ params.nameAndId }}-{{ loop.index }}"
        />
        <label class="nowprototypeit-form-label-for-radio" for="{{ params.nameAndId }}-{{ loop.index }}">{{ option.text }}</label>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
